@import '~antd/lib/style/themes/dark.less';
.model-properties-wrapper {
  margin-left: 0px;
  width: 230px;
  padding: 5px 10px;
  box-sizing: border-box;
  .tree-data {
    width: 230px;
    min-height: 50px;
    max-height: 240px;
    overflow: hidden;
    overflow-y: auto;
  }
  .properties-item {
    width: 230px;
    margin-top: 20px;
    display: flex;
    label {
      width: 50px;
      color: #fff;
      margin-right: 64px;
      margin-left: -40px;
    }
    .select-wrapper {
      width: 140px;
      height: 100px;
    }
  }
}
.ant-tree .ant-tree-node-content-wrapper.ant-tree-node-selected {
  background: #1890ff;
}
